.pagination{
    button{
        height: 1.361rem;
        font-size: 11px;
        background-color: #EDEDED;
    }

    .button-2{
        margin-left: 2px;
        margin-right: 2px;
        display: flex;
        align-items: center;
        width: 3rem;
    }
}