.colorhead{
    background-color: $white;
    background-image: -webkit-linear-gradient(150deg, $red 50%, $white 50%);
    height: 70px;
    box-shadow: 1px 1px 2px rgba(209, 198, 209, 1);
    color: $white;
}