.inf-mobile{
    display: none;
}


@media ( max-width: 768px ) {


    .inf-mobile{
        display: block;
    }
    .title-page{

        a{
            img{
                height: 1.125rem;
            }
        }
        margin-top: 1.25rem  !important;
        .title-page__text{
            font-size: 1.875rem;
        }
        
    }

    .card-shadow {
        padding: 20px !important;
    }

    .p-20{
        padding: 10px !important;
        .alert-list{
            padding: 0 !important;
        }

        
    }

    .item-card-mobile{
        margin-bottom: 0.313rem;
    }

    .medium-button{
        width: 100% !important;
    }

    .d-mobile{
        flex-direction: column !important;
        button{
            margin-left: 0 !important;
        }
    }

    .info-desktop{
        display: none;
    }

    .booknote-desktop{
        display: none;
    }
}

