$red: #D81E04;
$red-dark: #b02a37;
$light-red:#FFEEEB;;



$white: #ffffff;
$gray: #737373;

$dark-gray: #3F3F3F;
$dark-gray-var: #6E6E6E;
$medium-gray: #B1B1B1;
$light-grey: #EAE9E9;
$light-grey-var: #9A9A9A;



$green: #009D4E;
$light-green: #DBF1E6;
$green-hover: green;

$letter-color: #363636;


$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$size-label: 1.125rem;
$size-label-active: 0.938rem;


$border-drop: #9E9E9E;

$background-content: #F3F3F3;

